/*-------INICIA HEADER---------*/

@font-face {
    font-family: 'Arial-Bold';
    src: url('../fonts/Arial-BoldMT.woff2') format('woff2'),
        url('../fonts/Arial-BoldMT.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Arial';
    src: url('../fonts/ArialMT.woff2') format('woff2'),
        url('../fonts/ArialMT.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Arial-Black';
    src: url('../fonts/Arial-Black.woff2') format('woff2'),
        url('../fonts/Arial-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

.row{
	margin-right: 0px;
    margin-left: 0px;
}
.nav-top{
	background: #C83037;
	color: #FFF;
	text-align: right;
	
	
}
.box_videos {
	margin-bottom: 30px;
}

.menu-phone{
	font-family: 'Arial-Bold';
	display: inline-block;
	font-size: 1.0rem;
	
	
}

.menu-phone-movil{
	font-family: 'Arial-Bold';
	display: none;
	font-size: 1.0rem;
	
}

.menu-mail{
	font-family: 'Arial-Bold';
	display: inline-block;
	font-size: 16px;
	padding-right: 1.2rem;
}
.menu-phone1 {
	font-family: 'Arial-Bold';
    display: inline-block;
    font-size: 16px;
}
.menu-mail1 {
	font-family: 'Arial-Bold';
	display: inline-block;
	font-size: 16px;
	padding-right: 1.4rem;
	color: white;
}
.menu-mail a{
	color: #fff;
}
.mi-nettv{
	background: #1C8FA0;
	padding: 10px 20px;
	display: inline-block;
	font-size: 12px;
}
.img-top{
	width: 25px;
	margin: 10px 5px;
}
.logo{
	width: 150px;
}
.txt_nettv{
	margin-left: 32px;
}
.nav-link{
	font-family: 'Arial';
	margin: 0rem 2rem;
	color: #4B4B4B!important;
	font-size: 0.9rem;
}
.bordes{
	border-right: 1px solid #C83037;
}
.dropdown-item{
    border: 2px solid #000;
    background: #FFF;
    color: #4B4B4B;
    font-size: 14px;
    padding: 13px 24px;
}
.dropdown-item:hover{
	background: #C83037;
	color: #FFF;
}
.dropdown-menu{
    border: none;
    background: #000;
    padding: 0;
}
.separa{
	font-family: 'Arial-Bold';
	padding: 0px 10px; 
}
.atn-clientes{
	display: inline-block;
}
/*-------TERMINA HEADER---------*/

/*-------INICIA FOOTER---------*/
footer{
	background: #1C2232;
	color: #FFF;
	font-size: 0.7rem;
	text-align: center;
	padding: 2rem;
	font-family: 'Arial';
	font-weight: lighter;
}

.legal{

	margin-top: 2%;
}
.menu-pie{
	margin: 1rem 0rem 0rem 0rem;
	font-size: .8rem;
}
.link-pie{
	font-family: 'Arial';
	font-size: 12px !important;
	color: #FFF;
	
}
.link-pie1{
	font-family: 'Arial';
    font-size: 12px !important;
    color: #FFF;
	text-decoration: underline;
}

.link-pie:hover{
	color: #FFF;
}

.second-v {
	font-size: 0.7rem;
}

/*-------TERMINA FOOTER---------*/


/*-------INICIA ACCESIBILIDAD---------*/


  #skip-nav a:focus {
   /* color:#303;*/
   color: #192666;
      border: dashed 1px;
      background-color: #D5EAFF; /*#D5EAFF*/
        text-decoration: underline;

  }


/*-------TERMINA ACCESIBILIDAD---------*/


/*____________________RESPONSIVE__________________________*/
@media only screen and (max-width: 991px) {
  .bordes {
    border-left: none;
    border-right: none;
	}
}

@media only screen and (max-width: 685px) {
  .nav-top{
  	text-align: center;
  	}
  .menu-pie{
	margin: 1rem;
	}
.atn-clientes{
margin: 0rem 2rem;}


.menu-phone{
	font-size: 0.7rem;
	
}
.menu-mail{
	font-size: 0.7rem;
	padding-right: 1.2rem;
}

.img-top{
	width: 20px;
	margin: 10px 5px;
}


.menu-phone{
	font-family: 'Arial-Bold';
	display: none;
	font-size: 1.0rem;
	
	
}

.menu-phone-movil{
	font-family: 'Arial-Bold';
	display: inline-block;
	font-size: 0.8rem;
	
	
}
	
.menu-phone-movil a{
	color: #fff;
	
}

.nav-top{
	position: fixed;
	bottom: 0px;
	z-index: 999;
	margin: -10px;
	
}
.menu-phone1{
	font-size: 14px;
}
.menu-mail1 {
	font-size: 14px;
}



footer{
	font-size: 0.7rem;
	padding: 2rem;
	margin-bottom: 10%;
	
}

}
@media only screen and (max-width: 400px) {
	.Fr_AlignLeft{
		padding-left: 0px;
		margin-bottom: 40px;
	}

	.img-footer {
		margin-bottom: 30px;
	}
	.legal {
		margin-bottom: 14px;
	}
}

/*AQUÍ EMPIEZAN LOS AJUSTES EN EL CSS*/
/*-------INICIA BANNER CARRUSEL---------*/

.Fr_CarruselBanner{
	padding-right: 0px;
	padding-left: 0px;
	
}


#Fr_Banner01{
	padding: 2%;
	background-image: url(../img/img_banners/banner1.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	

}

#Fr_Banner01 h2{
	font-family: 'Arial-Black';
	text-align: center;
	font-size: 2.500em;
}

#Fr_Banner01 h4{
	font-family: 'Arial-Black';
	text-align: center;
	font-size: 1.875em;
}

#Fr_Banner01 p{
	font-family: 'Arial';
	text-align: center;
	font-size: 1.250em;
}

#Fr_Banner01 .logoApp{
	display: block;
	margin: 0 auto;
	width: 100px;
}

#Fr_Banner01 h3{
	font-family: 'Arial-Bold';
	text-align: center;
	font-size: 1.875em;
}

#Fr_Banner01 ol{
	list-style: none;
	margin: 0 auto;
}

#Fr_Banner01 ol li{
	display: inline-block;
	
}


#Fr_Banner02{
	padding: 2%;
	background-image: url(../img/img_banners/banner2.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}


#Fr_Banner02 h2{
	font-family: 'Arial-Black';
	color: #fff;
	text-align: center;
	font-size: 2.000em;
	text-shadow: 0px 6px 3px #484848;
}

.Fr_Btn {
	background-color:#E82C3A;
	border-radius:15px;
	border:5px solid#1C2232;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Arial-Black';
	font-size:17px;
	padding:16px 33px;
	text-decoration:none;
}
.Fr_Btn:hover {
	background-color:#9f040e;
	color:#ffffff;
}
.Fr_Btn {
	position:relative;
	top:1px;
}

#Fr_Banner02 h4{
	font-family: 'Arial-Black';
	color: #fff;
	text-align: right;
	font-size: 1.400em;
	
}

#Fr_Banner02 .Fr_Canal200{
	width: 164px;
	height: auto;
	float: left;
	
	
}

#Fr_Banner02 .DevicesApp{
	width: 340px;
	height: auto;
}


/*-------INICIA FOOTER---------*/
footer{
	background: #1C2232;
	color: #FFF;
	font-size: 0.7rem;
	text-align: center;
	padding: 2rem;
	font-family: 'Arial';
	font-weight: lighter;
}


#Fr_FooterIcons{
	border-left: 1px solid #CCC;

	
	
}

#Fr_FooterIcons h2{

	font-family: 'Arial';
	font-size: 1.075em;
	text-align: left;
	margin-left: 7%;
	
}

#Fr_FooterIcons ol{
	list-style: none;
	float: left;
	padding: 0;
}

#Fr_FooterIcons ol li{
	display: inline;
}

.Fr_AlignLeft{
	text-align: left;
	list-style: none;
}
.Fr_AlignLeft1{
	text-align: left;
	list-style: none;
	
}
.Fr_AlignLeft2{
	text-align: left;
	list-style: none;
	
}

.legal{

	margin-top: 2%;
}
.menu-pie{
	margin: 1rem 0rem 0rem 0rem;
	font-size: .8rem;
}
.link-pie{
	font-family: 'Arial';
	font-size: 0.8rem;
	color: #FFF;
}
.link-pie:hover{
	color: #FFF;
}






/*-------TERMINA FOOTER---------*/


@supports (-webkit-touch-callout: none){
/* CSS specific to iOS devices */ 
.row{
	margin-right: 0px;
    margin-left: 0px;
}
.nav-top{
	background: #C83037;
	color: #FFF;
	text-align: right;
	
	
}


.menu-phone{
	font-family: 'Arial-Bold';
	display: inline-block;
	font-size: 1.0rem;
	
	
}

.menu-phone-movil{
	font-family: 'Arial-Bold';
	display: none;
	font-size: 1.0rem;
	
}

.menu-mail{
	font-family: 'Arial-Bold';
	display: inline-block;
	font-size: 16px;
	padding-right: 1.2rem;
}
.menu-phone1 {
	font-family: 'Arial-Bold';
    display: inline-block;
    font-size: 16px;
}
.menu-mail1 {
	font-family: 'Arial-Bold';
	display: inline-block;
	font-size: 16px;
	padding-right: 1.4rem;
	color: white;
}
.menu-mail a{
	color: #fff;
}
.mi-nettv{
	background: #1C8FA0;
	padding: 10px 20px;
	display: inline-block;
	font-size: 12px;
}
.img-top{
	width: 25px;
	margin: 10px 5px;
}
.logo{
	width: 150px;
}
.nav-link{
	font-family: 'Arial';
	margin: 0rem 2rem;
	color: #4B4B4B!important;
	font-size: 0.9rem;
}
.bordes{
	border-right: 1px solid #C83037;
}
.dropdown-item{
    border: 2px solid #000;
    background: #FFF;
    color: #4B4B4B;
    font-size: 14px;
    padding: 13px 24px;
}
.dropdown-item:hover{
	background: #C83037;
	color: #FFF;
}
.dropdown-menu{
    border: none;
    background: #000;
    padding: 0;
}
.separa{
	font-family: 'Arial-Bold';
	padding: 0px 10px; 
}
.atn-clientes{
	display: inline-block;
}
/*-------TERMINA HEADER---------*/

/*-------INICIA FOOTER---------*/
footer{
	background: #1C2232;
	color: #FFF;
	font-size: 0.7rem;
	text-align: center;
	padding: 2rem;
	font-family: 'Arial';
	font-weight: lighter;
}

.legal{

	margin-top: 2%;
}
.menu-pie{
	margin: 1rem 0rem 0rem 0rem;
	font-size: .8rem;
}
.link-pie{
	font-family: 'Arial';
	font-size: 12px !important;
	color: #FFF;
	
}
.link-pie1{
	font-family: 'Arial';
    font-size: 12px !important;
    color: #FFF;
	text-decoration: underline;
}

.link-pie:hover{
	color: #FFF;
}

.second-v {
	font-size: 0.7rem;
}

/*-------TERMINA FOOTER---------*/


/*-------INICIA ACCESIBILIDAD---------*/


  #skip-nav a:focus {
   /* color:#303;*/
   color: #192666;
      border: dashed 1px;
      background-color: #D5EAFF; /*#D5EAFF*/
        text-decoration: underline;

  }


/*-------TERMINA ACCESIBILIDAD---------*/


/*____________________RESPONSIVE__________________________*/
@media only screen and (max-width: 991px) {
  .bordes {
    border-left: none;
    border-right: none;
	}
}

@media only screen and (max-width: 685px) {
  .nav-top{
  	text-align: center;
  	}
  .menu-pie{
	margin: 1rem;
	}
.atn-clientes{
margin: 0rem 2rem;}


.menu-phone{
	font-size: 0.7rem;
	
}
.menu-mail{
	font-size: 0.7rem;
	padding-right: 1.2rem;
}

.img-top{
	width: 20px;
	margin: 10px 5px;
}


.menu-phone{
	font-family: 'Arial-Bold';
	display: none;
	font-size: 1.0rem;
	
	
}

.menu-phone-movil{
	font-family: 'Arial-Bold';
	display: inline-block;
	font-size: 0.8rem;
	
	
}
	
.menu-phone-movil a{
	color: #fff;
	
}

.nav-top{
	position: fixed;
	bottom: 0px;
	z-index: 999;
	margin: -10px;
	
}
.menu-phone1{
	font-size: 14px;
}
.menu-mail1 {
	font-size: 14px;
}



footer{
	font-size: 0.7rem;
	padding: 2rem;
	margin-bottom: 10%;
	
}

}
@media only screen and (max-width: 400px) {
	.Fr_AlignLeft{
		padding-left: 0px;
		margin-bottom: 40px;
	}

	.img-footer {
		margin-bottom: 30px;
	}
	.legal {
		margin-bottom: 14px;
	}
}

/*AQUÍ EMPIEZAN LOS AJUSTES EN EL CSS*/
/*-------INICIA BANNER CARRUSEL---------*/

.Fr_CarruselBanner{
	padding-right: 0px;
	padding-left: 0px;
	
}


#Fr_Banner01{
	padding: 2%;
	background-image: url(../img/img_banners/banner1.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	

}

#Fr_Banner01 h2{
	font-family: 'Arial-Black';
	text-align: center;
	font-size: 2.500em;
}

#Fr_Banner01 h4{
	font-family: 'Arial-Black';
	text-align: center;
	font-size: 1.875em;
}

#Fr_Banner01 p{
	font-family: 'Arial';
	text-align: center;
	font-size: 1.250em;
}

#Fr_Banner01 .logoApp{
	display: block;
	margin: 0 auto;
	width: 100px;
}

#Fr_Banner01 h3{
	font-family: 'Arial-Bold';
	text-align: center;
	font-size: 1.875em;
}

#Fr_Banner01 ol{
	list-style: none;
	margin: 0 auto;
}

#Fr_Banner01 ol li{
	display: inline-block;
	
}


#Fr_Banner02{
	padding: 2%;
	background-image: url(../img/img_banners/banner2.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}


#Fr_Banner02 h2{
	font-family: 'Arial-Black';
	color: #fff;
	text-align: center;
	font-size: 2.000em;
	text-shadow: 0px 6px 3px #484848;
}

.Fr_Btn {
	background-color:#E82C3A;
	border-radius:15px;
	border:5px solid#1C2232;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Arial-Black';
	font-size:17px;
	padding:16px 33px;
	text-decoration:none;
}
.Fr_Btn:hover {
	background-color:#9f040e;
	color:#ffffff;
}
.Fr_Btn {
	position:relative;
	top:1px;
}

#Fr_Banner02 h4{
	font-family: 'Arial-Black';
	color: #fff;
	text-align: right;
	font-size: 1.400em;
	
}

#Fr_Banner02 .Fr_Canal200{
	width: 164px;
	height: auto;
	float: left;
	
	
}

#Fr_Banner02 .DevicesApp{
	width: 340px;
	height: auto;
}


/*-------INICIA FOOTER---------*/
footer{
	background: #1C2232;
	color: #FFF;
	font-size: 0.7rem;
	text-align: center;
	padding: 2rem;
	font-family: 'Arial';
	font-weight: lighter;
}


#Fr_FooterIcons{
	border-left: 1px solid #CCC;

	
	
}

#Fr_FooterIcons h2{

	font-family: 'Arial';
	font-size: 1.075em;
	text-align: left;
	margin-left: 7%;
	
}

#Fr_FooterIcons ol{
	list-style: none;
	float: left;
	padding: 0;
}

#Fr_FooterIcons ol li{
	display: inline;
}

.Fr_AlignLeft{
	text-align: left;
	list-style: none;
}
.Fr_AlignLeft1{
	text-align: left;
	list-style: none;
	
}
.Fr_AlignLeft2{
	text-align: left;
	list-style: none;
	
}

.legal{

	margin-top: 2%;
}
.menu-pie{
	margin: 1rem 0rem 0rem 0rem;
	font-size: .8rem;
}
.link-pie{
	font-family: 'Arial';
	font-size: 0.8rem;
	color: #FFF;
}
.link-pie:hover{
	color: #FFF;
}



}




/*AQUÍ TERMINAN LOS AJUSTES EN EL CSS*/
